.container {
    width: calc(100% - 2rem);
    margin: 0 auto;

    @media screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media screen and (min-width: 768px) {
        max-width: 720px;
    }

    @media screen and (min-width: 992px) {
        max-width: 960px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1200px;
    }
}

.btn {
    display: inline-block;
    background-color: var(--clr-primary-600);
    color: var(--clr-white);
    padding: .875rem 2.25rem;
    transition: background-color .3s ease, color .3s ease;
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
    font-weight: var(--fw-semi-bold);
    
    &--with-icon {
        display: inline-flex;
        align-items: center;
        column-gap: 2.875rem;
        padding: .75rem 1.875rem .75rem 1.125rem;
        font-weight: var(--fw-bold);
    }

    &:hover {
        background-color: var(--clr-primary-800);
    }

}